/**
* Style
*
* @author Gioele Giunta, Carlos Alvarez
* @version 1.0
* @since 2023-04-12
* @info We are going to use the KEBAB CASE for the css files
*/

/*Colors*/
:root {
    --primary-color: #65aaeb;
    --primary-disabled-color: #4e6d8a;
    --a-color: #FFC8DD;
    --b-color: #BDBDFF;
    --c-color: #B5D5FF;
    --d-color: #FFDF9E;
    --e-color: #D8B4FE;
    --gray: #666;
    --black: #393939;
    --error: #ef4040;
    --soft-gray: #fcfcfc;
    --border: #dddddd;
    --green: #248a21;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: var(--black);
}





.green {
  color: var(--green);
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    margin: 0;
    z-index: 100;
}

.gray-bar {
  width: 100vw;
  height: auto;
  padding-top: 20px;
  padding-bottom:20px;
  background-color: var(--soft-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.white-bar {
  width: 100vw;
  height: auto;
  padding-top: 20px;
  padding-bottom:20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/*NavBar Elements*/

a.navbar-image{
    justify-content: flex-end;
}

a.navbar-image img{
    max-width: 150px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    margin-left: 20vw;
    z-index: 201;
}


.profile-image{
  max-width: 50px;
  margin-top: -30%;
  cursor: pointer;
}

ul.navbar-container{
    width: 100vw;
    height: 60px;
    margin-right: 40px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 200;
}

ul.navbar-container li{
    width: auto;
    height: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

ul.navbar-container li:hover{
    background-color: rgb(245, 245, 245);
}


.active{
    border: 1px solid var(--primary-color);
}

ul.navbar-container li a{
    float: left;
    display: block;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  position: absolute; 
  z-index: 101;
  padding-left: 0px;
}

body {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    height: auto;
}

.border-1p {
  border: 1px solid var(--border);
}

/*Generic Card*/
.card {
  width: 50vw;
  height: auto;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 2px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-d {
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.sub-card {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.card h1 {
  color: var(--black);
}

.font-40p {
  font-size: 44px;
}

.font-20p {
  font-size: 20px;
}


/* Button Style */
button {
  text-transform: uppercase;
  margin: 10px;
}
.primary-button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.primary-button:hover {
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
}

.primary-button:active {
  background-color: rgba(var(--primary-color), 0.2);
  box-shadow: 0 0 0 3px var(--primary-color);
  transform: translateY(2px);
}

.primary-button:disabled {
  background-color: var(--primary-disabled-color);
  cursor: not-allowed;
}

/*Login Form*/
div.field-container{
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.field-container input {
  font-size: 16px;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  color: var(--black);
  background-color: #fff;
  transition: border-color 0.3s ease-in-out;
  border-radius: 20px;
}
.field-container input::placeholder {
  color: #aaa;
  font-style: italic;
}

.field-container input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

.label-text {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--black);
}

.error-text {
  font-size: 14px;
  color: var(--error);
  margin-top: 5px;
}


/*Color Carousel*/
.carousel {
    width: 100vw;
    height: 500px;
    overflow: hidden;
    background-color: #D8B4FE;
}
  
.carousel img{
    max-width: 70vw;
    height: auto;
    margin-left: -37vw;
    position: absolute;
    z-index: 99;
}

.carousel-wrapper {
    display: flex;
    width: 500vw; /* 5 Times  the container to have 5 colors */
    animation: carousel-slide 15s linear infinite;
}
  
.carousel-slide {
    flex-basis: 100vw;
    width: 200vw;
    height: 2000px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
    transform: rotate(25deg);
    margin-top: -50vh;
}

.carousel-slide div {
    padding: 5px 20px;
    background-color: white;
    border-radius: 2px;
    transform: rotate(-35deg); /* Go to up */
    margin-top: -800px;
  }

.carousel-slide div h1{
    margin: 0px;
    text-transform: uppercase;
    font-size: 3vw; /*In vw because depends on the width of the slider*/
}
  
@keyframes carousel-slide {
    0% {
      transform: translateX(0);
    }
    20% {
        transform: translateX(0);
      }
    21.5% {
      transform: translateX(-20%); 
    }
    41.5% {
      transform: translateX(-20%); 
    }
    43% {
      transform: translateX(-40%); 
    }
    63% {
      transform: translateX(-40%); 
    }
    64.5% {
      transform: translateX(-60%); /* Spostamento dei div carousel-slide verso destra */
    }
    84.5% {
        transform: translateX(-60%); 
    }
    86% {
        transform: translateX(-80%); 
    }
    100% {
        transform: translateX(-80%); 
    }
}

.divider{
  margin-top: 50px;
  width: 100%;
}

/*Food Slider*/
.slider {
    width: 60vw;
    display: flex;
    flex-direction: row;
}  
.slider-container {
    width: 100%;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; 
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
  }

  .slider-container::-webkit-scrollbar {
    display: none;
  }

  .slide {
    min-width: 180px;
    min-height: 180px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
    margin-bottom: 50px;
    transition: 0.3s;
    margin: 0 10px;
    text-align: center;
    scroll-snap-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  .slide:hover {
    transform: scale(1.1); 
    text-decoration: underline;
  }
  

  .slide h1:hover {
    color: #555;
  }


  .slide-name {
    min-height: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    text-decoration: none;
  }

  .slide-name h1 {
    text-decoration: none;
    margin: 0px;
  }

  .slide-body {
    width: 100%;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    bottom: 0; 
    background-color: var(--b-color);
  }

  .slide-body img {
    max-height: 110px;
    max-width: 210px;
    width: 210px;
  }
  
  .slider-prev,
  .slider-next {
    width: 50px;
    height: 45px;
    margin-top: 80px;
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
    text-align: center;
  }

  .slider-prev {
    display: none; 
  }

  .slider-next {
    display: none;
  }

  .slider-prev:hover,
  .slider-next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }



/* Menu Styles */

.menu-list {
  width: 80vw;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 40px;
}

.menu-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.menu-item:hover {
  text-decoration: underline;
}

.item-image {
  width: 30%;
  height: 200px;
  background-color: var(--a-color);
  border-radius: 20px;
  padding: 5px;
}

.item-image img {
  max-width: 100%;
  flex-basis: 190px;
  height: auto;
  max-height: 190px;
}

.item-info {
  width: 50%;
}

.item-info a{
  width: 100%;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  text-align: left;
}

.item-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.item-ingredients {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.item-price {
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}



/* Open List */
.open-list {
  width: 80vw;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 10px;
}

.open-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.open-content {
  display: none;
  padding: 0px;
  padding-top: 10px;
}

.open-content .content {
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.open-list.open .open-content {
  display: block;
}

.open-list .arrow {
  color: var(--primary-color);
}


.open-list .open-title .open {
  transform: rotate(180deg);
}


/* Fun fuction curving image in hover */
.curved-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform-origin: center bottom;
}

.curved-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.curved-image:hover {
  transform: perspective(500px) rotateX(-8deg);
}

.curved-image:hover img {
  transform: translateY(10%) scale(1.1);
}

/* Casual Things */

.rounded-circle {
  border-radius: 50% !important;
}

.width-80p{
  max-width: 80px;
}

.width-50p{
  max-width: 50px;
}

.width-100pe{
  width: 100%;
}

.width-100{
  width: 100vw;
}


/* Favourites */
.favourite-button {
  width: 50px;
  height: 50px;
  background-image: url('../img/heart-outline.png');
  background-size: cover;
  cursor: pointer;
}

.favourite-button:hover {
  background-image: url('../img/heart.png'); 
}

.favourite-pushed{
  width: 50px;
  height: 50px;
  background-image: url('../img/heart.png');
  background-size: cover;
  cursor: pointer;
}

.favourite-pushed:hover {
  background-image: url('../img/heart-outline.png');
}

/* Top Bar */
.top-bar {
  width: 100vw;
  height: 300px;
  background-color: var(--b-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
}
.top-bar img{
  max-width: 40vw;
  height: auto;
  position: absolute;
  z-index: 99;
}

.top-bar img{
  max-width: 40vw;
  height: auto;
  position: absolute;
  z-index: 99;
}

.top-bar div {
  margin-top: 50px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 2px;
  z-index: 100;
}

.top-bar div h1{
  margin: 0px;
  text-transform: uppercase;
  font-size: 3vw;
  color: var(--b-color);
}

/* Cookie Banner */
#cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;
  color: var(--black);
  padding: 10px;
  text-align: center;
}

/* Game */

#game-container {
  width: 800px;
  height: 700px;
  margin-top: 20px;
  background-color: black;
  position: relative;
  justify-content: center;
  align-items: center;
}

#game-container h1 {
  color: white;
}

.alien {
  width: 50px;
  height: 50px;
  background-image: url('../img/angry-pizza.png');
  background-size: cover;
  position: absolute;
}
.bullet {
  width: 5px;
  height: 10px;
  background-color: red;
  position: absolute;
}
#player {
  width: 100px;
  height: 100px;
  background-image: url('../img/chicken_fighter.png');
  background-size: cover;  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Footer*/

footer {
  background-color: var(--border);
  text-align: center;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  margin-bottom: 0;
  flex-direction: row;
}

footer h1 {
  font-size: 20px;
}

footer a {
  color: var(--black);
}



ul, li, ol {
  list-style-type: none;
}

/* Complaint */

.complaint-form {
  text-align: left;
}

.form-group {
  margin-top: 1rem;
}

.form-group input[type="text"] {
  width: 600px;
  height: 20px
}

.form-group textarea#description {
  width: 600px; 
  height: 90px; 
}

/* Book */
.table-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.table-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
}

.table-circle.available {
  background-color: #6ec76e;
  color: #fff;
}

.table-circle.occupied {
  background-color: #ff6666;
  color: #fff;
  cursor: not-allowed;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.calendar-container input[type="date"],
.calendar-container input[type="time"] {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}

.calendar-container input[type="date"]:hover,
.calendar-container input[type="time"]:hover {
  border-color: #9b9b9b;
}

/*Tablet*/
@media (max-width: 977px) {
    a.navbar-image img{
        max-width: 130px;
        margin-left: 5vw;
    }
    
    /*NavBar Elements*/
    ul.navbar-container{
        justify-content: flex-end;
    }
    .top-bar img{
      max-width: 50vw;
      height: auto;
      position: absolute;
      z-index: 99;
    }

}

/*Phone*/
@media (max-width: 600px) {
  .phone-none {
    display: none;
  }

  .card {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 20px;
    border-radius: 0px;
    border: 0px solid #0d0d0d;
  }

  .sub-card {
    width: 100%;
  }
    
  .carousel img{
        max-width: 100vw;
        height: auto;
        margin-left: -55vw;
        position: absolute;
        z-index: 99;
  }

    .carousel-slide div {
        display: none;
      }

      .slider {
        width: 100vw;
      }
      .slide {
        min-width: 135px;
        min-height: 135px;
      }
    
      .slide h1 {
        font-size: 16px;
      }
    
      .slide h1:hover {
        color: #555;
      }
    
    
      .slide-name {
        min-height: 25px;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
      }
    
      .slide-body {
        min-width: 100%;
        min-height: 100px;
      }
    
      .slide-body img {
        max-height: 70px;
        height: 70px;
      }

      .flex-row-d {
        display: flex;
        flex-direction: column;
      }

      .top-bar img{
        max-width: 100vw;
  
      }
      .top-bar div h1{
        font-size: 6vw;
      }

      .menu-list {
        width: 90vw;
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding: 10px;
      }
      
      .item-image {
        width: 100%;
        height: 170px;
      }
      
      .item-image img {
        max-width: 100%;
        flex-basis: 160px;
        max-height: 160px;
      }
      
      .item-info {
        width: 100%;
      }
      
      .item-price {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      
}
  