{#
    * 404.html
    *
    * @author Gioele Giunta
    * @version 1.0
    * @since 2023-04-12
    * @info Me (Gioele) am going to use the CAMEL CASE for the html/twig files
#}

{% extends "layout.html" %}

{% block pageTitle %}
Element not found!
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
    <main>
        <div class="text-box">
            <h1>Such a Doggone Shame!</h1>
            <p>The page you are looking for does not seem to exist!</p>
            <a href="index.php" class="btn">Go back to the home page</a>
        </div>
        <div id="game-container" class="phone-none">
            <h1 id="instruction">Press Arrows to move, space to shoot</h1>
            <div id="player"></div>
        </div>
        <script src="assets/js/game.js" cache-control="max-age=5259600, public"></script>
    </main>
{% endblock %}
