{% extends "layout.html" %}

{% block pageTitle %}
About-Us
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}

<section class="gray-bar width-100">
    <div class="divider"></div>
    <div class="card flex-row-d">
        <div class="sub-card flex-column">
            <img src="assets/img/restaurant.jpg" alt="Restaurant">
        </div>
        <div class="sub-card flex-column">
            <article>
                <h1>About our Restaurant</h1>
                <p>{{ business.about }}</p>
            </article>
        </div>
    </div>

    <div class="card flex-row-d">
        <div class="sub-card flex-column">
            <article>
                <h1>Our Staff</h2>
                    <p>{{ business.staff }}</p>
            </article>
        </div>
        <div class="sub-card col-6">
            <img src="assets/img/staff.jpg" alt="Staff">
        </div>
    </div>

<div class="card gray-bar">
    <div class="flex-row-d">
        <div class="flex-column">
            <ul class="contact-info">
                <li><strong>Contact us on</strong>: {{ business.telephone }}</li>
                <li><strong>Email us on</strong>: {{ business.email }}</li>
                <li><strong>Contact person</strong>: {{ business.contact }}</li>
                <li><strong>Address</strong>: {{ business.address }}</li>
            </ul>
        </div>
    </div>
</div>
</section>

{% endblock %}
