{#
    * book.html
    *
    * @author Gioele Giunta
    * @version 1.0
    * @since 2023-05-12
    * @info Me (Gioele) am going to use the CAMEL CASE for the html/twig files
#}

{% extends "layout.html" %}

{% block pageTitle %}
Book a Table
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
<main>
    <section class="top-bar" style="background-color: var(--d-color);">  
        <img src="assets/img/dogmburger.webp" width="500" height="500" alt="Dog Eating Hamburger"/>
        <div>
            <h1 style="color: var(--d-color);">Book a Table</h1>
        </div>
    </section>
    <div style="margin-top: 50px;"></div>
    {% if is_authenticated %}
        <section class="white-bar">
            <h1>Select the table you prefer!</h1>
            <form id="book-table-form" action="server/scripts/book_table.php" method="post">
                <input type="hidden" name="datetime" value="{{ datetime }}">
                <div class="calendar-container">
                    <input type="date" name="date" value="{{ datetime|date('Y-m-d') }}">
                    <input type="time" name="time" value="{{ datetime|date('H:i') }}">
                </div>
                <h4>Each table is considered to be for 4 persons.</h4>
                <input type="text" name="table-number" style="display: none;">
                <div class="table-grid">
                    {% for i in 1..10 %}
                        {% set isReserved = false %}
                        {% for reservation in reservations %}
                            {% if reservation.table_number == i %}
                                {% set isReserved = true %}
                            {% endif %}
                        {% endfor %}
                        <div class="table-circle {% if isReserved %}occupied{% else %}available{% endif %}" aria-label="{% if isReserved %}Table occupied, you can't book this table!{% else %}Table available, click to book!{% endif %}" data-table="{{ i }}">
                            {{ i }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" id="submit_book" class="primary-button" disabled>Book Table</button>
            </form>
        </section>
    {% else %}
        <h1>To book a table, please login</h1>
        {% include "signin_form.html" %}
    {% endif %}
</main>

<script type="text/javascript" src="assets/js/validator/bookValidation.js"></script>
{% endblock %}