{% extends "layout.html" %}

{% block pageTitle %}
Book a Table
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
<main>
    <section class="top-bar" style="background-color: var(--d-color);">  
        <img src="assets/img/dogmburger.png"/>
        <div>
            <h1 style="color: var(--d-color);">Book a Table</h1>
        </div>
    </section>
    <div style="margin-top: 50px;"></div>
    <section class="white-bar">
        <form id="book-table-form" action="server/scripts/book_table.php" method="post">
            <input type="hidden" name="datetime" value="{{ datetime }}">
            <div class="calendar-container">
                <input type="date" name="date" value="{{ datetime|date('Y-m-d') }}">
                <input type="time" name="time" value="{{ datetime|date('H:i') }}">
            </div>
            <input type="text" name="table-number" style="display: none;">
            <div class="table-grid">
                {% for i in 1..10 %}
                    {% set isReserved = false %}
                    {% for reservation in reservations %}
                        {% if reservation.table_number == i %}
                            {% set isReserved = true %}
                        {% endif %}
                    {% endfor %}
                    <div class="table-circle {% if isReserved %}occupied{% else %}available{% endif %}" data-table="{{ i }}">
                        {{ i }}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="primary-button">Book Table</button>
        </form>
    </section>
</main>

<script type="text/javascript" src="assets/js/tableBooking.js"></script>
{% endblock %}