{#
    * Complaints
    *
    * @author Carlos Alvarez
    * @version 1.0
    * @since 2023-05-14
#}

{% extends "layout.html" %}

{% block pageTitle %}
Complaints
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}

<main>
	<section class="top-bar" style="background-color: var(--e-color);">  
        <img src="assets/img/dogmburger.webp" width="500" height="500" alt="Dog Eating Hamburger"/>
        <div>
            <h1 style="color: var(--e-color);">What happened?</h1>
        </div>
    </section>
		{% if is_authenticated %}
			<section class="white-bar">
            	<h1>Something went wrong? Let us know!</h1>
				<div class="field-container">
					<p>Field with * are requireds</p>
				  </div>
				<form id="complaint-make-form" action="server/scripts/complaint_form.php" method="post">
					<div class="field-container">
						<label for="subject-input">
							<span class="label-text">*Subject:</span>
						</label>
						<input type="text" id="subject-input" name="subject" required>
						<p id="subject-error" class="error-text" role="region"></p>
					</div>

					<div class="field-container">
						<label for="description-input">
							<span class="label-text">*What happened?:</span>
						</label>
						<textarea id="description-input" name="description" required></textarea>
						<p id="description-error" class="error-text" role="region"></p>
					</div>

					<button type="submit" id="submit_complaint" class="primary-button" disabled>Send</button>
				</form>		
			</section>
        {% else %} 
			<h1>To fill a complaint, please login</h1>
            {% include "signin_form.html" %}
        {% endif %}
</main>

<script type="text/javascript" src="assets/js/validator/complaintsValidator.js"></script>

{% endblock %}