{#
    * Details
    *
    * @author Gioele Giunta
    * @version 1.0
    * @since 2023-04-25
    * @info Me (Gioele) am going to use the CAMEL CASE for the html/twig files
#}

{% extends "layout.html" %}

{% block pageTitle %}
{{details.name}}
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
<main>
    <section class="white-bar">
        <div class="card flex-row-d">
            <div class="sub-card">
                <img class="curved-image" src="assets/img/{{details.image}}" alt="{{details.name}}">
            </div>
            <div class="sub-card">
                <div class="field-container">
                    <h1 class="font-40p">{{details.name}}</h1>
                    <p class="font-20p">{{details.ingredients}}</p>
                    {% if details.bio == 1 %}
                    <img src="assets/img/bio_certified.png" class="rounded-circle width-80p"/>
                    {% endif %}
                </div>
            </div>
            {% if details.in_wishlist %}
                <a id="favourite-btn" class="favourite-pushed" onclick="favouriteClick({{ details.ID }})"></a>
            {% else %}
                <a id="favourite-btn" class="favourite-button" onclick="favouriteClick({{ details.ID }})"></a>
            {% endif %}
            
        </div>
    </section>
    <section class="gray-bar">
            <h1 class="font-40p">Nutritional Information</h1>
            <div class="open-list">
                <h3 class="open-title font-20p">View Allergens<span class="arrow">▼</span></h3>
                <ul class="open-content" style="display: none;">
                    {% for item in details.allergies %}  
                        <li class="content">{{item}}</li>
                    {% endfor %}
                    <li style="background-color: white;">
                    <p>This product <strong>can also contain </strong> some of the following allergens: <br>
Gluten (Oats), Gluten (Spelt), Gluten (Kamut), Crustaceans, Fish, Peanuts, Tree Nuts (Almonds), Tree Nuts (Hazelnuts), Tree Nuts (Pistachio nuts), Tree Nuts (Walnuts), Tree Nuts (Brazil nuts) , Tree Nuts (Cashews), Tree Nuts (Macadamia), Tree Nuts (Queensland nuts), Tree Nuts (Pecan nuts), Celery, Mustard, Sulphur Dioxide, Lupins or Molluscs></p>
                    </li>                
                </ul>
                {% if details.bio == 1 %}
                <h3 class="open-title font-20p">See what it means to be BIO<span class="arrow">▼</span></h3>
                <ul class="open-content" style="display: none;">
                        <li class="content">Being <strong>BIO</strong> does not only mean having the BIO label, it means having a <strong>love</strong> for food and finding suppliers who are committed to respecting the earth and people.
                            With km0 quality vegetables and meat.
                        </li>           
                </ul>
                {% endif %}
            </div>
    </section>
    <script src="assets/js/openList.js"></script>

    <script>

        var favouriteBtn = document.getElementById("favourite-btn");
        var action;


        /**
        * This function manages the event click of the button
        */
        function favouriteClick(foods_id) {
            if (favouriteBtn.classList.contains("favourite-pushed")) {
                action = "remove_wishlist.php";
            } else {
                action = "add_wishlist.php";
            }
            // Perform an AJAX call to the PHP script in order to save food in the wishlist
            const recipeUrl = 'server/scripts/' + action;
            const postBody = {
              foods_id: foods_id,
            };
            const requestMetadata = {
                method: 'POST',
                headers: {
                  Accept: 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(postBody)
            };
            fetch(recipeUrl, requestMetadata)
                .then((response) => {
                    return response.json(); 
                })
                .then((responseData) => {
                    console.log("Response:", responseData);
                    if (responseData.status === "true") {
                        if (favouriteBtn.classList.contains("favourite-pushed")) {
                            favouriteBtn.classList.remove("favourite-pushed");
                            favouriteBtn.classList.add("favourite-button");
                        } else {
                            favouriteBtn.classList.remove("favourite-button");
                            favouriteBtn.classList.add("favourite-pushed");
                        }
                    } else {
                      generalErrorMessage.textContent = responseData.message;
                    }
                })
                .catch((err) => {
                    console.info('Error:', err.message);
                });
            };
    </script>


</main>
{% endblock %}