{#
    * favourites.html
    *
    * @author Gioele Giunta
    * @version 1.0
    * @since 2023-05-07
    * @info Me (Gioele) am going to use the CAMEL CASE for the html/twig files
#}

{% extends "layout.html" %}

{% block pageTitle %}
Favourites
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
    <main>
        <section class="top-bar">  
            <img src="assets/img/dogmburger.png" alt="Dog Eating Hamburger"/>
            <div>
                <h1>Favourites</h1>
            </div>
        </section>
        <div style="margin-top: 50px;"></div>
        <section class="white-bar">
                {% if is_authenticated %}
                    <h1>Your Selections</h1>
                    {% if favourites is empty %}
                        <h1>No items in your favourites :(</h2>
                        <h4>Look what we have to offer</h4>
                        {% block foodSlider %}
                        {% include "foodslider.html" with {'categories' : categories, 'selectedCategories' : selectedCategories} %}
                        {% endblock %}
                    {% else %}  
                        <a class="primary-button" href="server/scripts/send_favourites.php" role="button">Send via Email</a>
                        <ul class="menu-list">
                        {% for item in favourites %}
                            <li id="favourite-element{{item.ID}}" class="menu-item flex-row-d">
                                <div class="item-image">
                                    <img src="assets/img/menu/{{ item.image }}" alt="{{ item.name }}">
                                </div>
                                <div class="item-info">
                                    <a class="flex-row-d" href="details?id={{item.ID}}" aria-label="Click to go to the details of this Product" role="button">
                                        <div class="flex-column field-container">
                                            <h3 class="item-name">{{ item.name }}</h3>
                                            <p class="item-ingredients">{{ item.ingredients }}</p>
                                        </div>
                                    </a>
                                </div>
                                <a id="favourite-btn{{item.ID}}" class="favourite-pushed" onclick="favouriteClick('favourite-btn{{item.ID}}', {{ item.ID }}, 'favourite-element{{item.ID}}')" aria-label="Remove from favourites"></a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {%else %}
                    <h1>To see your favourites, please login</h1>  
                    {% include "signin_form.html" %}
                {% endif %}
            </div>
        </section>

        <script type="text/javascript" src="assets/js/menuList.js" defer></script>
        <script type="text/javascript" src="assets/js/favouriteButtons.js"></script>
    </main>
{% endblock %}