{#
    * Cookie
    *
    * @author Gioele Giunta, Carlos Alvarez
    * @version 1.4
    * @since 2023-05-07
    * @info We (Gioele, Carlos) are going to use the CAMEL CASE for the html/twig files
#}

{% block foodslider %}
<section class="slider">
    <div class="slider-prev">&lt;</div>
    <ul class="slider-container">
        {% for category in categories %}
            <a class="slide" href="item?id={{category.id}}">
                <div class="slide-name flex-row">
                    {% for selectedCategory in selectedCategories %}
                    {% if category.id == selectedCategory %}
                    <h1 class="font-40p green">&#x2713;</h1>
                    {% endif %}
                    {% endfor %}
                    <h1 class="font-20p title">{{category.name }}</h1>
                </div>
                <div class="slide-body">
                    <img src="assets/img/{{ category.image }}" class="img" alt="{{category.name}}">
                </div>
            </a>
            {% endfor %}
    </ul>
    <div class="slider-next">&gt;</div>
</section>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            /*
                The code above colorize every slide-body of the code using genColor
            */
            var slideBodies = document.querySelectorAll('.slider-container .slide-body');
            slideBodies.forEach(function(slideBody) {
                
            var categoryName = slideBody.parentElement.querySelector('.slide-name h1.title').innerText;
            slideBody.style.backgroundColor = genColor(categoryName);
            });

            /*
                The code above make sure that slider arrow are visible and working well
            */
            var sliderContainer = document.querySelector('.slider-container');
            var slide = document.querySelector('.slide');
            var sliderPrev = document.querySelector('.slider-prev');
            var sliderNext = document.querySelector('.slider-next');
            var slideBodies = document.querySelectorAll('.slide').length;
            var visibleElements = Math.floor(sliderContainer.offsetWidth / slide.offsetWidth);
            var scrolledElements = 4;

            //I am sure that if visibleElements are less than slides, are the one on the right that are invisible
            
            function toggleArrows() {
                if (scrolledElements == slideBodies) {
                    sliderNext.style.display = 'none';
                    sliderPrev.style.display = 'block';
                } else if (scrolledElements == visibleElements) {
                    sliderPrev.style.display = 'none';
                    sliderNext.style.display = 'block';
                } else {
                    sliderNext.style.display = 'block';
                    sliderNext.style.display = 'block';
                }
            }

            sliderPrev.addEventListener('click', function() {
                var newSlidesNumber = scrolledElements % visibleElements;
                scrolledElements -= newSlidesNumber;
                sliderContainer.scrollLeft -= scrolledElements * slide.offsetWidth;
                toggleArrows();
            });
            sliderNext.addEventListener('click', function() {
                var newSlidesNumber = slideBodies % scrolledElements;
                scrolledElements += newSlidesNumber;
                sliderContainer.scrollLeft += scrolledElements * slide.offsetWidth;
                toggleArrows();
            });
    
            toggleArrows();
        });
    </script>
    <script type="text/javascript" src="assets/js/genColor.js"></script>
{% endblock %}




