{#
    * Cookie
    *
    * @author Gioele Giunta, Carlos Alvarez
    * @version 1.4
    * @since 2023-05-07
    * @info We (Gioele, Carlos) are going to use the CAMEL CASE for the html/twig files
#}

{% block foodslider %}
<section class="slider">
    <div class="slider-prev">&lt;</div>
    <ul class="slider-container">
        {% for category in categories %}
            <a class="slide" href="item?id={{category.ID}}">
                <div class="slide-name flex-row">
                    {% for selectedCategory in selectedCategories %}
                    {% if category.ID == selectedCategory %}
                    <h1 class="font-40p green">&#x2713;</h1>
                    {% endif %}
                    {% endfor %}
                    <h1 class="font-20p title">{{category.name }}</h1>
                </div>
                <div class="slide-body">
                    <img src="assets/img/{{ category.image }}" class="img" alt="{{category.name}}">
                </div>
            </a>
            {% endfor %}
    </ul>
    <div class="slider-next">&gt;</div>
</section>

    <script type="text/javascript" src="assets/js/foodSlider.js"></script>
    <script type="text/javascript" src="assets/js/genColor.js"></script>
{% endblock %}




