{#
* Index
*
* @author Gioele Giunta
* @version 1.0
* @since 2023-04-12
* @info Me (Gioele) am going to use the CAMEL CASE for the html/twig files
#}


{% extends "layout.html" %}

{% block pageTitle %}
Los Pollos Hermanos
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
<main>
    {% block carousel %}
    {% include "carousel.html" %}
    {% endblock %}
    <section class="white-bar">
        <h1>Taste the world!</h1>
        <p>These are the cuisines you will find at Pollos Hermanos, click on them to see the dishes.</p>
        {% block foodSlider %}
        {% include "foodslider.html" with {'categories' : categories, 'selectedCategories' : selectedCategories} %}
        {% endblock %}
    </section>

</main>
{% endblock %}
