{% extends "layout.html" %}

{% block pageTitle %}
Los Pollos Hermanos
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
    <main>
        <div style="margin-top: 50px;"></div>
        {% block foodSlider %}
        {% include "foodslider.html" with {'categories' : categories, selectedCategories: selectedCategories} %}
        {% endblock %}
        <section class="gray-bar">
            <div class="menu-list">
                {% for item in menuItems %}
                    <ul style="width: 100%" class="menu-item flex-row-d">
                        <li class="item-image">
                            <img src="{{ item.image }}" alt="{{ item.name }}">
                        </li>
                        <li class="item-info flex-row-d">
                            <div class="flex-column field-container">
                                <h3 class="item-name">{{ item.name }}</h3>
                                <p class="item-ingredients">{{ item.ingredients }}</p>
                            </div>
                        </li>
                            <div class="item-price">{{ item.price }} €</div>
                    </ul>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}