{% extends "layout.html" %}

{% block pageTitle %}
Los Pollos Hermanos
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
    <main>
        <div style="margin-top: 50px;"></div>
        {% block foodSlider %}
        {% include "foodslider.html" with {'categories' : categories, selectedCategories: selectedCategories} %}
        {% endblock %}
        <section class="gray-bar">
            <ul class="menu-list">
                {% for item in menuItems %}
                    <li class="menu-item flex-row-d">
                        <div class="item-image">
                            <img src="assets/img/menu/{{ item.image }}" alt="{{ item.name }}">
                        </div>
                        <div class="item-info">
                            <a class="flex-row-d" href="details?id={{item.ID}}">
                                <div class="flex-column field-container">
                                    <h3 class="item-name">{{ item.name }}</h3>
                                    <p class="item-ingredients">{{ item.ingredients }}</p>
                                </div>
                            </a>
                        </div>
                            <div class="item-price">{{ item.price }} €</div>
                    </li>
                {% endfor %}
            </div>
        </section>

        <script type="text/javascript" src="assets/js/menuList.js" defer></script>
    </main>
{% endblock %}