{#
    * navbar.html
    *
    * @author Gioele Giunta
    * @version 1.4
    * @since 2023-04-12
    * @info Me (Gioele) am going to use the CAMEL CASE for the html/twig files
    #}
    
{% block navbar %}
    <div class="stripe">
        <div class="navbar-toggle">
            <button class="navbar-toggler" type="button" onclick="toggleNavBar()">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <ul class="navbar-container" id="navbar-container-general">
        {% for item in navbarData.navbar_elements %}
            {% set is_active = item.href == navbarData.page_name %}
            {% if item.signed == false and item.href != 'signin' %}
                <li{% if is_active %} class="active"{% endif %}>
                        <a href="{{ item.href }}">{{ item.name }}</a>
                </li>
            {% else %}
                {% if item.href == 'signin' and navbarData.is_authenticated == false %}
                    <li{% if is_active %} class="active"{% endif %}>
                        <a href="{{ item.href }}">{{ item.name }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    
        {% if navbarData.is_authenticated %}
        <li>
            <img id="profile_image" class="rounded-circle profile-image" onmouseover="showDropdown()" onclick="toggleDropdown()">
            <ul class="dropdown-menu" id="dropdown-menu" aria-label="Expand Personal Area Commands" aria-expanded="false" aria-controls="dropdown-menu">
                {% for item in navbarData.navbar_elements %}
                    {% if item.signed %}
                        <li><a href="{{ item.href }}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    document.getElementById("profile_image").src = generateAvatar("{{ navbarData.user_acronym }}", "#FFFFFF", genColor("{{ navbarData.user_acronym }}"));
                });
            </script>
            <script type="text/javascript" src="assets/js/genColor.js"></script>
            <script type="text/javascript" src="assets/js/navbar.js"></script>
            <script type="text/javascript" src="assets/js/generateAvatar.js"></script>
        </li>
        {% endif %}
    </ul>
{% endblock %}