{#
    * signup.html
    *
    * @author Gioele Giunta
    * @version 1.0
    * @since 2023-04-23
    * @info Me (Gioele) am going to use the CAMEL CASE for the html/twig files
#}

{% extends "layout.html" %}

{% block pageTitle %}
Sign Up
{% endblock %}

{% block navbar %}
{% include "navbar.html" with {'navbarData' : navbar_data} %}
{% endblock %}

{% block content %}
<main>
    <section class="card flex-row-d border-1p">
        <div class="sub-card phone-none">
            <img src="assets/img/junior_chicken.png" alt="Sign Up!">
        </div>
        <div class="sub-card">
            <h1 class="font-20p">Sign Up</h1>
            <div class="field-container">
                <p>Field with * are requireds</p>
            </div>
            <form method="post" name="myform">
                <div class="field-container">
                    <p id="general-error" class="error-text"></p>
                </div>
                <div class="field-container">
                    <label for="name-input">
                        <span class="label-text">*First Name:</span>
                    </label>
                    <input type="text" id="name-input" placeholder="Enter your name">
                    <p id="name-error" class="error-text" role="region"></p>
                </div>
                <div class="field-container">
                    <label for="surname-input">
                        <span class="label-text">*Surname:</span>
                    </label>
                    <input type="text" id="surname-input" placeholder="Enter your surname">
                    <p id="surname-error" class="error-text" role="region"></p>
                </div>
                <div class="field-container">
                    <label for="email-input">
                        <span class="label-text">*Email:</span>
                    </label>
                    <input type="email" id="email-input" placeholder="Enter your email" autoComplete="email">
                    <p id="email-error" class="error-text" role="region"></p>
                </div>
              
                <div class="field-container">
                    <label for="password-input">
                        <span class="label-text">*Password:</span>
                    </label>
                    <input type="password" id="password-input" placeholder="Enter your password">
                    <p id="password-error" class="error-text" role="region"></p>
                </div>

                    <button type="submit" id="submit" class="primary-button" href="register_user.php">Sign Up</button>
                <p>Do you have an account?<a href="signin">  Sign In!</a></p>
            </form>
        </div>
    </section>
    <script src="assets/js/validator/signValidator.js"></script>


</main>
{% endblock %}